<h1 class="page-title">Wrapper for Drugst.One</h1>

<div class="upload-section">
    <input type="file" #seedFileInput (change)="addSeedFile($event)" accept=".csv" id="seed-file-input" hidden>
    <button mat-raised-button color="secondary" (click)="seedFileInput.click()">Upload Seed File</button>
    <span>{{ seedFileName }}</span>
</div>

<div class="upload-section">
    <input type="file" #interactionFileInput (change)="addInteractionFile($event)" accept=".csv" id="interaction-file-input" hidden>
    <button mat-raised-button color="secondary" (click)="interactionFileInput.click()">Upload Interaction File</button>
    <span>{{ interactionFileName }}</span>
</div>

<div class="upload-section">
<button mat-raised-button color="primary" [disabled]="!seedFileName || !interactionFileName" (click)="onFileUpload()" class="mx-auto">Upload</button>
</div>